# Exclude generated assets from language stats
*.html   linguist-detectable=false
*.csv    linguist-detectable=false
*.json   linguist-detectable=false
*.png    linguist-detectable=false
*.pt     linguist-detectable=false
*.npz    linguist-detectable=false
